In [30]:
import pandas as pd
import numpy as np
import datetime as dt
from datetime import date, timedelta

In [31]:
# set up weather history url
url = "https://api.weather.gc.ca/collections/climate-daily/items?"
suffix = "&f=json"

climate_id = "&CLIMATE_IDENTIFIER=6115529"
year_range=list(range(2013,date.today().year+1))

params={
    'CLIMATE_IDENTIFIER':6115529,
    'LOCAL_YEAR':2013
}

In [32]:
# https://api.weather.gc.ca/collections/climate-daily/items?CLIMATE_IDENTIFIER=6115525^ORCLIMATE_IDENTIFIER=6115529&f=json
import requests

jsons = []

for year in year_range:
    params={
        'CLIMATE_IDENTIFIER':6115529,
        'LOCAL_YEAR':year
    }
    jsons.append(pd.json_normalize(requests.get(url, params=params).json(),record_path=['features']))
    
jsons[0]

,id,type,geometry.coordinates,geometry.type,properties.STATION_NAME,properties.CLIMATE_IDENTIFIER,properties.ID,properties.LOCAL_DATE,properties.PROVINCE_CODE,properties.LOCAL_YEAR,...,properties.SPEED_MAX_GUST,properties.SPEED_MAX_GUST_FLAG,properties.COOLING_DEGREE_DAYS,properties.COOLING_DEGREE_DAYS_FLAG,properties.HEATING_DEGREE_DAYS,properties.HEATING_DEGREE_DAYS_FLAG,properties.MIN_REL_HUMIDITY,properties.MIN_REL_HUMIDITY_FLAG,properties.MAX_REL_HUMIDITY,properties.MAX_REL_HUMIDITY_FLAG
0,6115529.2013.1.1,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.1,2013-01-01 00:00:00,ON,2013,...,0.0,None,0.0,None,30.6,None,None,None,None,None
1,6115529.2013.1.2,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.2,2013-01-02 00:00:00,ON,2013,...,0.0,None,0.0,None,27.9,None,None,None,None,None
2,6115529.2013.1.3,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.3,2013-01-03 00:00:00,ON,2013,...,0.0,None,0.0,None,26.4,None,None,None,None,None
3,6115529.2013.1.4,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.4,2013-01-04 00:00:00,ON,2013,...,0.0,None,0.0,None,19.7,None,None,None,None,None
4,6115529.2013.1.6,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.6,2013-01-06 00:00:00,ON,2013,...,0.0,None,0.0,None,25.0,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,6115529.2013.12.27,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.12.27,2013-12-27 00:00:00,ON,2013,...,0.0,None,0.0,None,23.9,None,None,None,None,None
342,6115529.2013.12.28,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.12.28,2013-12-28 00:00:00,ON,2013,...,0.0,None,0.0,None,19.2,None,None,None,None,None
343,6115529.2013.12.29,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.12.29,2013-12-29 00:00:00,ON,2013,...,39.0,None,0.0,None,25.9,None,None,None,None,None
344,6115529.2013.12.30,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.12.30,2013-12-30 00:00:00,ON,2013,...,35.0,None,0.0,None,37.1,None,None,None,None,None
345,6115529.2013.12.31,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.12.31,2013-12-31 00:00:00,ON,2013,...,39.0,None,0.0,None,30.1,None,None,None,None,None

In [33]:
weather_df=pd.concat(jsons).sort_values('properties.LOCAL_DATE')
weather_df

,id,type,geometry.coordinates,geometry.type,properties.STATION_NAME,properties.CLIMATE_IDENTIFIER,properties.ID,properties.LOCAL_DATE,properties.PROVINCE_CODE,properties.LOCAL_YEAR,...,properties.SPEED_MAX_GUST,properties.SPEED_MAX_GUST_FLAG,properties.COOLING_DEGREE_DAYS,properties.COOLING_DEGREE_DAYS_FLAG,properties.HEATING_DEGREE_DAYS,properties.HEATING_DEGREE_DAYS_FLAG,properties.MIN_REL_HUMIDITY,properties.MIN_REL_HUMIDITY_FLAG,properties.MAX_REL_HUMIDITY,properties.MAX_REL_HUMIDITY_FLAG
0,6115529.2013.1.1,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.1,2013-01-01 00:00:00,ON,2013,...,0.0,None,0.0,None,30.6,None,None,None,None,None
1,6115529.2013.1.2,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.2,2013-01-02 00:00:00,ON,2013,...,0.0,None,0.0,None,27.9,None,None,None,None,None
2,6115529.2013.1.3,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.3,2013-01-03 00:00:00,ON,2013,...,0.0,None,0.0,None,26.4,None,None,None,None,None
3,6115529.2013.1.4,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.4,2013-01-04 00:00:00,ON,2013,...,0.0,None,0.0,None,19.7,None,None,None,None,None
4,6115529.2013.1.6,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.6,2013-01-06 00:00:00,ON,2013,...,0.0,None,0.0,None,25.0,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,6115529.2022.4.13,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.13,2022-04-13 00:00:00,ON,2022,...,37.0,None,0.0,None,9.4,None,51.0,None,99.0,None
104,6115529.2022.4.14,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.14,2022-04-14 00:00:00,ON,2022,...,54.0,None,0.0,None,10.8,None,31.0,None,99.0,None
101,6115529.2022.4.15,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.15,2022-04-15 00:00:00,ON,2022,...,61.0,None,0.0,None,13.3,None,28.0,None,82.0,None
102,6115529.2022.4.16,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.16,2022-04-16 00:00:00,ON,2022,...,33.0,None,0.0,None,18.7,None,46.0,None,81.0,None
106,6115529.2022.4.17,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.17,2022-04-17 00:00:00,ON,2022,...,37.0,None,0.0,None,17.1,None,29.0,None,90.0,None

In [34]:
# map NaN to "None"
weather_df=weather_df.replace({'None': np.nan, None:np.nan}, regex=True)
weather_df

,id,type,geometry.coordinates,geometry.type,properties.STATION_NAME,properties.CLIMATE_IDENTIFIER,properties.ID,properties.LOCAL_DATE,properties.PROVINCE_CODE,properties.LOCAL_YEAR,...,properties.SPEED_MAX_GUST,properties.SPEED_MAX_GUST_FLAG,properties.COOLING_DEGREE_DAYS,properties.COOLING_DEGREE_DAYS_FLAG,properties.HEATING_DEGREE_DAYS,properties.HEATING_DEGREE_DAYS_FLAG,properties.MIN_REL_HUMIDITY,properties.MIN_REL_HUMIDITY_FLAG,properties.MAX_REL_HUMIDITY,properties.MAX_REL_HUMIDITY_FLAG
0,6115529.2013.1.1,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.1,2013-01-01 00:00:00,ON,2013,...,0.0,NaN,0.0,NaN,30.6,NaN,NaN,NaN,NaN,NaN
1,6115529.2013.1.2,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.2,2013-01-02 00:00:00,ON,2013,...,0.0,NaN,0.0,NaN,27.9,NaN,NaN,NaN,NaN,NaN
2,6115529.2013.1.3,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.3,2013-01-03 00:00:00,ON,2013,...,0.0,NaN,0.0,NaN,26.4,NaN,NaN,NaN,NaN,NaN
3,6115529.2013.1.4,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.4,2013-01-04 00:00:00,ON,2013,...,0.0,NaN,0.0,NaN,19.7,NaN,NaN,NaN,NaN,NaN
4,6115529.2013.1.6,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2013.1.6,2013-01-06 00:00:00,ON,2013,...,0.0,NaN,0.0,NaN,25.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,6115529.2022.4.13,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.13,2022-04-13 00:00:00,ON,2022,...,37.0,NaN,0.0,NaN,9.4,NaN,51.0,NaN,99.0,NaN
104,6115529.2022.4.14,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.14,2022-04-14 00:00:00,ON,2022,...,54.0,NaN,0.0,NaN,10.8,NaN,31.0,NaN,99.0,NaN
101,6115529.2022.4.15,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.15,2022-04-15 00:00:00,ON,2022,...,61.0,NaN,0.0,NaN,13.3,NaN,28.0,NaN,82.0,NaN
102,6115529.2022.4.16,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.16,2022-04-16 00:00:00,ON,2022,...,33.0,NaN,0.0,NaN,18.7,NaN,46.0,NaN,81.0,NaN
106,6115529.2022.4.17,Feature,"[-79.30333333333333, 44.97472222222222]",Point,MUSKOKA,6115529,6115529.2022.4.17,2022-04-17 00:00:00,ON,2022,...,37.0,NaN,0.0,NaN,17.1,NaN,29.0,NaN,90.0,NaN

In [35]:
weather_df.dtypes

id                                      object
type                                    object
geometry.coordinates                    object
geometry.type                           object
properties.STATION_NAME                 object
properties.CLIMATE_IDENTIFIER           object
properties.ID                           object
properties.LOCAL_DATE                   object
properties.PROVINCE_CODE                object
properties.LOCAL_YEAR                    int64
properties.LOCAL_MONTH                   int64
properties.LOCAL_DAY                     int64
properties.MEAN_TEMPERATURE            float64
properties.MEAN_TEMPERATURE_FLAG        object
properties.MIN_TEMPERATURE             float64
properties.MIN_TEMPERATURE_FLAG         object
properties.MAX_TEMPERATURE             float64
properties.MAX_TEMPERATURE_FLAG         object
properties.TOTAL_PRECIPITATION         float64
properties.TOTAL_PRECIPITATION_FLAG     object
properties.TOTAL_RAIN                  float64
properties.TOTAL_RAIN_FLAG              object
properties.TOTAL_SNOW                  float64
properties.TOTAL_SNOW_FLAG              object
properties.SNOW_ON_GROUND              float64
properties.SNOW_ON_GROUND_FLAG         float64
properties.DIRECTION_MAX_GUST          float64
properties.DIRECTION_MAX_GUST_FLAG      object
properties.SPEED_MAX_GUST              float64
properties.SPEED_MAX_GUST_FLAG          object
properties.COOLING_DEGREE_DAYS         float64
properties.COOLING_DEGREE_DAYS_FLAG     object
properties.HEATING_DEGREE_DAYS         float64
properties.HEATING_DEGREE_DAYS_FLAG     object
properties.MIN_REL_HUMIDITY            float64
properties.MIN_REL_HUMIDITY_FLAG        object
properties.MAX_REL_HUMIDITY            float64
properties.MAX_REL_HUMIDITY_FLAG        object
dtype: object

In [36]:
clean_weather_df=weather_df[['properties.LOCAL_DATE', 'properties.LOCAL_YEAR','properties.LOCAL_MONTH','properties.MEAN_TEMPERATURE','properties.MAX_TEMPERATURE','properties.MIN_TEMPERATURE']]

In [37]:
clean_weather_df.describe()

,properties.LOCAL_YEAR,properties.LOCAL_MONTH,properties.MEAN_TEMPERATURE,properties.MAX_TEMPERATURE,properties.MIN_TEMPERATURE
count,3145.000000,3145.000000,3097.000000,3098.000000,3117.000000
mean,2017.202862,6.375835,5.144979,11.043383,-0.730542
std,2.759357,3.453700,11.820632,12.383510,11.743044
min,2013.000000,1.000000,-29.900000,-23.800000,-39.100000
25%,2015.000000,3.000000,-3.200000,0.800000,-7.700000
50%,2017.000000,6.000000,5.600000,11.200000,0.000000
75%,2020.000000,9.000000,15.500000,22.400000,8.800000
max,2022.000000,12.000000,28.600000,35.200000,22.400000

In [38]:
clean_weather_df.isna().sum()

properties.LOCAL_DATE           0
properties.LOCAL_YEAR           0
properties.LOCAL_MONTH          0
properties.MEAN_TEMPERATURE    48
properties.MAX_TEMPERATURE     47
properties.MIN_TEMPERATURE     28
dtype: int64

In [39]:
clean_weather_df=clean_weather_df.dropna()

In [40]:
clean_weather_df.describe()

,properties.LOCAL_YEAR,properties.LOCAL_MONTH,properties.MEAN_TEMPERATURE,properties.MAX_TEMPERATURE,properties.MIN_TEMPERATURE
count,3097.000000,3097.000000,3097.000000,3097.000000,3097.000000
mean,2017.214401,6.360672,5.144979,11.042945,-0.767904
std,2.757632,3.458415,11.820632,12.385486,11.754174
min,2013.000000,1.000000,-29.900000,-23.800000,-39.100000
25%,2015.000000,3.000000,-3.200000,0.800000,-7.700000
50%,2017.000000,6.000000,5.600000,11.200000,0.000000
75%,2020.000000,9.000000,15.500000,22.400000,8.800000
max,2022.000000,12.000000,28.600000,35.200000,22.400000

In [41]:
clean_weather_df = clean_weather_df.rename(columns={'properties.LOCAL_DATE' : 'date',
                        'properties.LOCAL_MONTH':'month',
                        'properties.LOCAL_YEAR':'year',
                        'properties.MEAN_TEMPERATURE':'mean_temp',
                        'properties.MAX_TEMPERATURE':'max_temp',
                        'properties.MIN_TEMPERATURE':'min_temp'})
clean_weather_df

                    date  year  month  mean_temp  max_temp  min_temp
0    2013-01-01 00:00:00  2013      1      -12.6      -7.7     -17.4
1    2013-01-02 00:00:00  2013      1       -9.9      -5.4     -14.3
2    2013-01-03 00:00:00  2013      1       -8.4      -2.3     -14.4
3    2013-01-04 00:00:00  2013      1       -1.7       0.0      -3.4
4    2013-01-06 00:00:00  2013      1       -7.0       0.4     -14.3
..                   ...   ...    ...        ...       ...       ...
105  2022-04-13 00:00:00  2022      4        8.6      14.6       2.5
104  2022-04-14 00:00:00  2022      4        7.2      13.2       1.2
101  2022-04-15 00:00:00  2022      4        4.7      11.1      -1.8
102  2022-04-16 00:00:00  2022      4       -0.7       1.8      -3.1
106  2022-04-17 00:00:00  2022      4        0.9       7.6      -5.8

[3097 rows x 6 columns]

In [42]:
clean_weather_df['date']=pd.to_datetime(clean_weather_df['date'])
clean_weather_df

          date  year  month  mean_temp  max_temp  min_temp
0   2013-01-01  2013      1      -12.6      -7.7     -17.4
1   2013-01-02  2013      1       -9.9      -5.4     -14.3
2   2013-01-03  2013      1       -8.4      -2.3     -14.4
3   2013-01-04  2013      1       -1.7       0.0      -3.4
4   2013-01-06  2013      1       -7.0       0.4     -14.3
..         ...   ...    ...        ...       ...       ...
105 2022-04-13  2022      4        8.6      14.6       2.5
104 2022-04-14  2022      4        7.2      13.2       1.2
101 2022-04-15  2022      4        4.7      11.1      -1.8
102 2022-04-16  2022      4       -0.7       1.8      -3.1
106 2022-04-17  2022      4        0.9       7.6      -5.8

[3097 rows x 6 columns]

In [43]:
clean_weather_df.to_csv("weather_data.csv")

In [44]:
clean_weather_df.dtypes

date         datetime64[ns]
year                  int64
month                 int64
mean_temp           float64
max_temp            float64
min_temp            float64
dtype: object

In [45]:
# want to get 10 day normalization
def ten_day_normals(date_df):
    
    mean_temp = np.mean(date_df['mean_temp'])
    max_temp = max(date_df['max_temp'])
    min_temp=min(date_df['min_temp'])
    swing=max_temp-min_temp
    
    results = {
        'mean': mean_temp,
        'max': max_temp,
        'min': min_temp,
        'swing': swing
    }
    
    return results

In [46]:
wet_df = clean_weather_df.set_index(['date'])
wet_df

            year  month  mean_temp  max_temp  min_temp
date
2013-01-01  2013      1      -12.6      -7.7     -17.4
2013-01-02  2013      1       -9.9      -5.4     -14.3
2013-01-03  2013      1       -8.4      -2.3     -14.4
2013-01-04  2013      1       -1.7       0.0      -3.4
2013-01-06  2013      1       -7.0       0.4     -14.3
...          ...    ...        ...       ...       ...
2022-04-13  2022      4        8.6      14.6       2.5
2022-04-14  2022      4        7.2      13.2       1.2
2022-04-15  2022      4        4.7      11.1      -1.8
2022-04-16  2022      4       -0.7       1.8      -3.1
2022-04-17  2022      4        0.9       7.6      -5.8

[3097 rows x 5 columns]

In [47]:
# add date column
wet_df['date'] = wet_df.index
wet_df

            year  month  mean_temp  max_temp  min_temp       date
date
2013-01-01  2013      1      -12.6      -7.7     -17.4 2013-01-01
2013-01-02  2013      1       -9.9      -5.4     -14.3 2013-01-02
2013-01-03  2013      1       -8.4      -2.3     -14.4 2013-01-03
2013-01-04  2013      1       -1.7       0.0      -3.4 2013-01-04
2013-01-06  2013      1       -7.0       0.4     -14.3 2013-01-06
...          ...    ...        ...       ...       ...        ...
2022-04-13  2022      4        8.6      14.6       2.5 2022-04-13
2022-04-14  2022      4        7.2      13.2       1.2 2022-04-14
2022-04-15  2022      4        4.7      11.1      -1.8 2022-04-15
2022-04-16  2022      4       -0.7       1.8      -3.1 2022-04-16
2022-04-17  2022      4        0.9       7.6      -5.8 2022-04-17

[3097 rows x 6 columns]

In [48]:
# add end date
wet_df['end_date'] = wet_df['date']+timedelta(days=11)
wet_df

            year  month  mean_temp  max_temp  min_temp       date   end_date
date
2013-01-01  2013      1      -12.6      -7.7     -17.4 2013-01-01 2013-01-12
2013-01-02  2013      1       -9.9      -5.4     -14.3 2013-01-02 2013-01-13
2013-01-03  2013      1       -8.4      -2.3     -14.4 2013-01-03 2013-01-14
2013-01-04  2013      1       -1.7       0.0      -3.4 2013-01-04 2013-01-15
2013-01-06  2013      1       -7.0       0.4     -14.3 2013-01-06 2013-01-17
...          ...    ...        ...       ...       ...        ...        ...
2022-04-13  2022      4        8.6      14.6       2.5 2022-04-13 2022-04-24
2022-04-14  2022      4        7.2      13.2       1.2 2022-04-14 2022-04-25
2022-04-15  2022      4        4.7      11.1      -1.8 2022-04-15 2022-04-26
2022-04-16  2022      4       -0.7       1.8      -3.1 2022-04-16 2022-04-27
2022-04-17  2022      4        0.9       7.6      -5.8 2022-04-17 2022-04-28

[3097 rows x 7 columns]

In [49]:
wet_df['ten_day_mean'] = wet_df.apply(lambda df: ten_day_normals(wet_df.loc[df['date']:df['end_date']])['mean'] , axis = 1)
wet_df['ten_day_max'] = wet_df.apply(lambda df: ten_day_normals(wet_df.loc[df['date']:df['end_date']])['max'] , axis = 1)
wet_df['ten_day_min'] = wet_df.apply(lambda df: ten_day_normals(wet_df.loc[df['date']:df['end_date']])['min'] , axis = 1)
wet_df['ten_day_swing'] = wet_df.apply(lambda df: ten_day_normals(wet_df.loc[df['date']:df['end_date']])['swing'] , axis = 1)

In [50]:
wet_df=wet_df[['date','month','ten_day_mean','ten_day_max','ten_day_min','ten_day_swing']]
wet_df

,date,month,ten_day_mean,ten_day_max,ten_day_min,ten_day_swing
date,,,,,,
2013-01-01,2013-01-01,1,-6.100000,3.4,-21.7,25.1
2013-01-02,2013-01-02,1,-4.277778,6.8,-21.7,28.5
2013-01-03,2013-01-03,1,-3.377778,6.8,-21.7,28.5
2013-01-04,2013-01-04,1,-3.200000,6.8,-21.7,28.5
2013-01-06,2013-01-06,1,-4.510000,6.8,-21.7,28.5
...,...,...,...,...,...,...
2022-04-13,2022-04-13,4,4.140000,14.6,-5.8,20.4
2022-04-14,2022-04-14,4,3.025000,13.2,-5.8,19.0
2022-04-15,2022-04-15,4,1.633333,11.1,-5.8,16.9
2022-04-16,2022-04-16,4,0.100000,7.6,-5.8,13.4
2022-04-17,2022-04-17,4,0.900000,7.6,-5.8,13.4

In [53]:
wet_df.to_csv('final_weather.csv', index=False)